/* navbar */
#top_nav{
    background-color: #daac00 ;
    /* to make responsive we use percentage */
    padding:0 8%;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
    font-size: 20px;
    padding-left: 25px;
}

#searchbox{
background-color: #fcc302;
color: white;
border: 0px;
border-radius:0 ;
position:relative ;
left: 47px;
box-shadow: 5px 10px 11px 0px #00000021;
}

#searchbtn{
position: relative;
z-index: 6; 
background-color: #00bec9;
color: white;
border: 0;
border-radius: 0;
}

#searchbox::placeholder{
    color: white;
}

/* banner  */
#banner{
    background-color:black ;
    padding-bottom: 20px;
}

#bannertext h1{
    color: white;
    font-size: 70px;
    margin-top: 100px;
}

#bannertext p{
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

#banner-btn-1{
    background-color: #00bec9;
    border: 2px solid #00bec9;
    color: white;
}
#banner-btn-2{
    color: white;
    border: 2px solid white;
    margin-left: 15px;
}
#bannerimg img{
    width: 80%;
    height: auto;
    margin-top:4rem;
}

/* service */
#service-text{
    padding-top: 10%;
    padding-bottom: 5%;
}
#service-btn{
    color: white;
    background-color: #fcc302;
    border: 2px solid #fcc302;
}
#service-img img{
    width: 70%;
    height: 70%;
    margin-top: 6rem;
    margin-left: 7rem;
}

/* counter */

#counter-section{
    background-image: url("./dogdoc.jpg");
    padding-top: 50px;
    padding-bottom: 70px;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size:100% 100%;
    color: red;

}
.counter-icon{
    font-size: 70px;
}

/* blog */
#blog{
    padding-top: 70px;
    padding-bottom: 70px;
}
#blog-title{
    font-size: 50px;
    font-weight: bolder;
}
#blog-p{
    font-size: 20px;
    margin-bottom: 70px;
}
.article-detail{
    padding: 15px;
    border: 1px solid rgb(185,185,185);
    border-top: 0;
}
.article-date,.article-link{
    color: #00bec9;
}
.article-link a{
    text-decoration: none;
}

#footer{
    background-color: #343434;
    padding-top: 80px;
    padding-bottom: 80px;
}
#footer a{
    color: white;
    text-decoration: none;
}
#footer-form{
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer-search-box{
    background-color:#fcc302;
    color: white;
    border: 0;
    padding: 15px;
    width: 100%;
    max-width: 300px;
    position: relative;
    left: 10px;
}
#footer-search-submit{
    background-color: #00bec9;
    color: white;
    border: 0;
    border-radius: 0;
    padding: 15px 40px ;
}
.social-icon{
    font-size: 25px;
    padding-left: 5px;
}


/* using media query  */


/* navbar  */
@media only screen and (max-width: 1000px) {
    #searchform{
        margin-bottom: 30px;
        margin-top: 20px;
        position: relative;
        left: -20px;
    }
}


@media only screen and (max-width: 500px) {
    #top_nav{
        padding: 0;
    }
}

/* banner  */
@media only screen and (max-width:1300px) {
    #bannertext h1{
        font-size: 45px;

    }
    #banner{
        padding-bottom: 70px;
    }
    #bannerimg img{
        width: 100%;
        height: auto;
        margin-top:4rem;
        /* padding-top: 70px; */
    }
}

@media only screen and (max-width:900px) {
    #bannertext h1{
        font-size: 30px;
    }
    #bannerimg img{
        width: 100%;
        height: auto;
        margin-top:2rem;
        padding-top: 70px;
    }
} 

/* services */
@media only screen and (max-width:900px) {
    #service-text{
        padding-top: 10%;
        padding-bottom: 5%;
    }
    #service-text h1{
        font-size: 1.8rem;
    }
    #service-btn{
        color: white;
        background-color: #fcc302;
        border: 2px solid #fcc302;
    }
    #service-img img{
        width: 100%;
        height: 94%;
        margin-top: 3rem;
        margin-left: 0rem;
    }
} 

@media only screen and (max-width:1200px) {
    #service-text{
        padding-top: 10%;
        padding-bottom: 5%;
    }
    #service-btn{
        color: white;
        background-color: #fcc302;
        border: 2px solid #fcc302;
    }
    #service-img img{
        width: 100%;
        height: 88%;
        margin-top: 3rem;
        margin-left: 0rem;
    }
} 

/* counter  */
@media only screen and (max-width:600px) {
    .counter-icon{
        font-size: 50px;
    }
}

/* footer */
@media only screen and (max-width:1300px) {
    #footer-search-box{
        max-width: 200px;
    }
}
@media only screen and (max-width:1000px) {
    #footer-search-box{
        max-width: 120px;
    }
}
@media only screen and (max-width:500px) {
    #footer-search-box{
        max-width: 200px;
    }
    #footer{
        padding-top: 10px;
    }
    #footer h4{
        padding-top: 50px;
    }
}